.signup {
  background: no-repeat url('../public/img/signupbg.png');
  /* background-size: cover; */
}
.link {
  text-decoration: none;
}
@media screen and (min-width: 576px) {
  .signup {
    width: 60%;
  }
  .dashboard {
    width: 60%;
  }
  .dashboardComp {
    width: 350px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* margin-bottom: 100px; */
  }
  .desktopSidebar {
    display: none;
  }
  .desktopContent {
    display: none;
  }
  .mobileContent {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .desktopSidebar {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 20%;
    background: #f8bb18;
    height: 150vh;
    padding-left: 30px;
    padding-right: 30px;
  }
  .desktopContent {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 150vh;
    padding: 20px;
    background-color: #d0d0d0;
  }
  .mobileContent {
    display: none;
  }
  /* .sidebarContent:hover {
    padding: 10px;
    background: rgb(237, 247, 148);
    height: 40px;
    border-radius: 8px;
  } */
}
