.signup {
  background: no-repeat url("../public/img/signupbg.png");
  /* background-size: cover; */
}
.link {
  text-decoration: none;
}
@media screen and (min-width: 576px) {
  .signup {
      width: 60%;
  }
}
@media screen and (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* margin-bottom: 100px; */
  }
  .desktopSidebar {
    display: none;
  }
  .desktopContent {
    display: none;
  }
  .mobileContent {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .desktopSidebar {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 20%;
    background: #f8bb18;
    height: 150vh;
  }
  .desktopContent {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 150vh;
    padding: 20px;
    background-color: #d0d0d0;
  }
  .mobileContent {
    display: none;
  }
}
